/* 正文字体：LXGWWenKaiTC-Medium */
@font-face {
    font-family: "LXGWWenKaiTC-Medium";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("./front/LXGWWenKaiLite-Medium.woff2") format("woff2"),
    url("./front/LXGWWenKaiLite-Medium.woff") format("woff");
}

/* 等宽字体：LXGWWenKaiMonoTC-Medium（用于 code, pre, kbd 等） */
@font-face {
    font-family: "LXGWWenKaiMonoTC-Medium";
    font-style: normal;
    font-weight: normal;
    font-display: swap;
    src: url("./front/LXGWWenKaiMonoLite-Medium.woff2") format("woff2"),
    url("./front/LXGWWenKaiMonoLite-Medium.woff") format("woff");
}