@font-face {
    font-family: 'LXGW WenKai Mono Lite';
    src: url('LXGWWenKaiMonoLite-Medium.woff2') format('woff2'),
        url('LXGWWenKaiMonoLite-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

