@font-face {
    font-family: 'LXGW WenKai Lite';
    src: url('LXGWWenKaiLite-Medium.woff2') format('woff2'),
        url('LXGWWenKaiLite-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

